/* GENERAL */
:root{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;

    background: #111;
}

/* HEADER */
h1{
    color: #fff;
    text-align: center;
    margin: 5rem 0;
}

/* MAIN */
.zoomMeeting{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.thankfulStudent{
    position: relative;
    height: 20rem;
    background: #1a1a1a;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform .2s;
}.thankfulStudent:hover{
    transform: scale(1.03);
}

.camOff{
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
}

.camOn{
    position: absolute;
    bottom: 1rem;
    left: 1rem;

    color: #fff;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    padding: 0.2rem;
    border-radius: .2rem;
    background: #fff3;
}

.flo{
    background: url("/images/flo.jpg") center / cover no-repeat;
}

footer{
    height: 5.2rem;
    width: 100%;
    background: url("/images/zoom.png") center / contain no-repeat;
}