/* GENERAL */
:root{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;

    background: #111;
}

/* HEADER */
h1{
    color: #fff;
    text-align: center;
    margin: 5rem 0;
}

/* MAIN */
.zoomMeeting{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}


/* display names */
.camOff{
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
}

.camOn{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    padding: 0.2rem;
    border-radius: .2rem;
    background: #fff3;
}

/* STUDENTS */
.thankfulStudent{
    position: relative;
    height: 20rem;
    background: #1a1a1a;
    transition: transform .2s;

    display: flex;
    justify-content: center;
    align-items: center;
}.thankfulStudent:hover{
    transform: scale(1.03);
}

/* STUDENTS individual */
.alcione{
    background: url("/images/alcione.jpg") center / cover no-repeat, #1a1a1a;
}

.andrea{
    background: url("/images/andrea.jpg") center / cover no-repeat, #1a1a1a;
}

.andrew{
    background: url("/images/andrew.jpg") center / cover no-repeat, #1a1a1a;
}

.evgira{
    background: url("/images/evgira.jpg") center / cover no-repeat, #1a1a1a;
}

.fahd{
    background: url("/images/fahd.jpg") center / cover no-repeat, #1a1a1a;
}

.flo{
    background: url("/images/flo.jpg") center / cover no-repeat, #1a1a1a;
}

.kany{
    background: url("/images/kany.jpg") center / cover no-repeat, #1a1a1a;
}

.lorenzo{
    background: url("/images/lorenzo.jpg") center / cover no-repeat, #1a1a1a;
}

.maroua{
    background: url("/images/maroua.jpg") center / cover no-repeat, #1a1a1a;
}

.natalia{
    background: url("/images/natalia.jpg") center / cover no-repeat, #1a1a1a;
}

.pavel{
    background: url("/images/pavel.jpg") center / cover no-repeat, #1a1a1a;
}

.piet{
    background: url("/images/piet.jpg") center / cover no-repeat, #1a1a1a;
}

.susan{
    background: url("/images/susan.jpg") center / cover no-repeat, #1a1a1a;
}

.tobias{
    background: url("/images/tobias.jpg") center / cover no-repeat, #1a1a1a;
}

.ugur{
    background: url("/images/ugur.jpg") center / cover no-repeat, #1a1a1a;
}

.veronica{
    background: url("/images/veronica.jpg") center / cover no-repeat, #1a1a1a;
}

.viviana{
    background: url("/images/viviana.jpg") center / cover no-repeat, #1a1a1a;
}

.zhino{
    background: url("/images/zhino.jpg") center / cover no-repeat, #1a1a1a;
}

/* FOOTER */
footer{
    height: 5.2rem;
    width: 100%;
    background: url("/images/zoom.png") center / contain no-repeat;
}