/* GENERAL */
:root{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;

    background: #111;
}

/* HEADER */
header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background: #111;
}

h1{
    color: #fff;
    font-size: 5rem;
    text-align: center;
    margin: 2rem 0;
}

/* MAIN grid */
.zoomMeeting{
    padding: 1rem;
    margin: 10rem 0 26vmin;

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

/* NAME tags */
.camOff{
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
}

.camOn{
    visibility: hidden;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    
    color: #fff;
    font-size: 2rem;
    letter-spacing: .1rem;
    padding: 0.5rem;
    border-radius: .2rem;
    background: #fff3;
}

/* CAM icon */
.zoomMeeting i{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    
    color: #e02828;
    font-size: 3rem;
    cursor:grab;
    transition: all .5s;
}.zoomMeeting i:hover{
    color: #fa0;
}

/* IMAGES */
img{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* STUDENTS */
.thankfulStudent{
    position: relative;
    height: 20rem;
    background: #1a1a1a;
    transition: transform .2s;

    display: flex;
    justify-content: center;
    align-items: center;
}.thankfulStudent:hover{
    transform: scale(1.03);
}

/* FOOTER */
footer{
    position: fixed;
    bottom: 0;

    width: 100%;
    padding: 0 1rem;
    background: #212325;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.bar:nth-of-type(2){
    margin-right: auto;
}

.bar{
    color: #aaabac;
    padding: .5rem 2rem;
    transition: all .4s;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}.bar:hover{
    color: #23d959;
}

footer i{
    font-size: 3rem;
    margin-bottom: .5rem;
}

input{
    margin-left: auto;
    padding: .5rem 1rem;
    color: #fff;
    font-weight: 700;
    background: #e02828;
    border: 0;
    border-radius: .5rem;
    transition: all .5s;
}input:hover{
    color: #e02828;
    background: #000;
}
